@import '~antd/es/style/themes/default.less';

.scf-page-layout {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 6px;

  &-fixed {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
  }

  &_nav {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    &-item {
      margin-right: 10px;
      padding: 0 10px;
      font-size: 12px;
      line-height: 24px;
      background-color: fade(@primary-color, 12%);
      border-radius: 2px;
      cursor: pointer;
      transition: background-color @animation-duration-slow, color @animation-duration-slow;

      &:hover,
      &-actived {
        color: #fff;
        background-color: @primary-color;
      }

      .anticon {
        margin-left: 10px;
        border-radius: 50%;
        transition: background-color @animation-duration-slow, color @animation-duration-slow;
        &:hover {
          color: @primary-color;
          background-color: #fff;
        }
      }
    }
  }
}
